@import 'components/_vars.scss';
@import 'components/_mixins.scss';

@import 'components/_carousel.scss';
@import 'components/_welcome.scss';
@import 'components/_menu.scss';
@import 'components/_event.scss';
@import 'components/_testimonials.scss';

@font-face {
  font-family: 'yellowtail';
  src: url('../font/Yellowtail-Regular.otf');
  font-style: normal;
  font-weight: 400;
}

body {
  // padding: 30px;
  font-size: 14px;
  font-family: 'PT Serif', serif;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

p {
  margin: 0;
}

.hero {
  height: 700px;
  position: relative;
  // background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  // opacity: 0.5;
  // background-color: #232323;
  // background-blend-mode: multiply;
  &:before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    opacity: 0.5;
    background: #232323;
    transition: opacity 2.5s;
    z-index: 2;
  }
}

.header {
  text-transform: uppercase;
  color: $grey-text;
  font-size: 14px;
}

.navbar {
  background-color: $darken-bg;
  letter-spacing: 1.4px;
  line-height: 10px;
  .nav-item {
    padding: 0 10px;
    &:not(:last-child) {
      border-right: 1px solid #000;
    }
  }
}

.top {
  .row {
    height: 149px;
    line-height: 20px;
  }
}

//  Section-header component
.section-header {
  background: url(../img/branches.png) 50% 80% no-repeat;
  padding: 110px 0 42px;
  margin-bottom: 62px;
  position: relative;
  z-index: 100;
  text-align: center;
  &__subtitle {
    @extend %small-grey-upper;
    margin-bottom: 20px;
  }
  &__title {
    color: #434343;
    font-size: 35px;
    font-weight: bold;
  }
  @extend %grey-line;
}

// Next component
.next {
  position: absolute;

  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  z-index: 1000;
  border-radius: 50% / 100% 100% 0 0;
  .fas {
    line-height: 6px;
    font-size: 10px;
  }
  &.next-big {
    height: 30px;
    width: 70px;
    bottom: -10px;
  }

  &.next-middle {
    height: 33px;
    width: 85px;
    bottom: -10px;
  }
  &.next-small {
    height: 15px;
    width: 40px;
    background-color: $darken-bg;
    bottom: -5px;
  }
}

// Button component
.button {
  position: relative;
  z-index: 100;
  display: inline-block;
  background-color: #ffb18b;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 1.4px;
  padding: 25px 55px;
}

.about-section {
  background: #000 url(../img/aboutBG.jpg);
  background-size: cover;
}

.card {
  box-shadow: 0px 5px 43px 0 rgba(144, 126, 101, 0.07);
  z-index: 10000;
  &__img {
    position: relative;
    background-size: cover;
    height: 570px;
    background-clip: border-box;
    &:before {
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      position: absolute;
      pointer-events: none;
      opacity: 0.1;
      background: #767676;
      transition: opacity 2.5s;
      z-index: 2;
    }
  }
  &__text {
    padding: 74px 70px 0px 70px;
  }
  &__title {
    font-size: 22px;
    font-weight: bold;
    line-height: 1.5;
    color: $grey-text;
  }
  &__year {
    font-size: 28px;
    font-weight: bold;
  }
  &__descr {
    font-size: 14px;
    line-height: 1.71;
    color: #929292;
  }
  .button {
    margin-top: 57px;
  }
  .with-line {
    position: relative;
    padding-bottom: 41px;
    margin-bottom: 41px;
    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      width: 111px;
      height: 2px;
      background-color: #a7a99a;
    }
  }
}

@include tablet {
  .card {
    position: static;
  }
}

.rounded-bg {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

// ==== ARTICLE ====

.article {
  position: relative;
  @extend %grey-line;
  &__img {
    height: 200px;
    margin-bottom: 35px;
    background-size: cover;
  }
  &__date {
    @extend %small-grey-upper;
    margin-bottom: 16px;
  }
  &__text {
    font-size: 22px;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    color: #434343;
    padding-bottom: 26px;
  }
}

.blog-section__button {
  margin: 46px auto 110px;
}

// ===== TEAM =====

.team-section {
  background-color: $darken-bg;
  padding-bottom: 107px;
  header {
    padding-top: 280px;
  }
}

.team-member {
  text-align: center;
  &__photo {
    width: 17vw;
    height: 17vw;
    margin: 0 auto 48px;
    background-size: cover;
  }
  &__name {
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.75;
    text-align: center;
    color: $grey-text;
  }
  &__position {
    line-height: 1.71;
    text-align: center;
    color: #929292;
  }
}

.gallery {
  &-section__button {
    margin: 56px auto 110px;
  }
  height: 600px;
  &__img {
    padding: 15px;
    background-clip: content-box;
    background-size: cover;
  }
  // &__half-height {
  //   height: 200px;
  // }
  // &__full-height {
  //   height: 400px;
  // }
}

.contacts-section {
  background-color: $darken-bg;
  padding-bottom: 110px;
}

.contacts-form {
  margin: 0 185px;
  .form-group {
    padding: 10px;
    margin-bottom: 10px;
  }
  .form-control {
    border-radius: 0;
    border: 0;
    outline: none;
    padding: 20px 30px;
    background-color: #fff;
  }
  input:not([type='submit']),
  textarea,
  input::placeholder,
  textarea::placeholder {
    @extend %small-grey-upper;
  }
}

.footer {
  margin: 124px auto 40px;
  &__contacts {
    @extend %small-grey-upper;
  }
}

.footer__social {
  margin: 58px auto;
  position: relative;
  &-container {
    // margin: 58px auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fab {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #ff0;
    color: white;
    border-radius: 50%;
    border: 2px solid white;
    vertical-align: top;
  }
}

.book-section,
.chef-section {
  background-position: center;
  .section-header {
    &__subtitle {
      color: #fff;
    }
    &__title {
      color: #fff;
    }
    @extend %white-line;
  }
}

.book-section {
  .section-header {
    padding-top: 0;
  }
}
// .article {
//   box-shadow: 1px 1px 6px 2px #d0cece;
// }
