@import 'components/_vars.scss';
@import 'components/_mixins.scss';

@import 'components/_header.scss';
@import 'components/_carousel.scss';
@import 'components/_welcome.scss';
@import 'components/_menu.scss';
@import 'components/_event.scss';
@import 'components/_testimonials.scss';
@import 'components/_articles.scss';
@import 'components/_gallery.scss';
@import 'components/_team.scss';
@import 'components/_footer.scss';

@font-face {
  font-family: 'yellowtail';
  src: url('../font/Yellowtail-Regular.otf');
  font-style: normal;
  font-weight: 400;
}

body {
  // padding: 30px;
  font-size: 14px;
  font-family: 'PT Serif', serif;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

p {
  margin: 0;
}

.hero {
  min-height: 700px;
  height: 700px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(#232323, 0.5);
  background-blend-mode: multiply;

  // &:before {
  //   content: '';
  //   display: block;
  //   height: 100%;
  //   width: 100%;
  //   top: 0;
  //   left: 0;
  //   position: absolute;
  //   pointer-events: none;
  //   opacity: 0.5;
  //   background: #232323;
  //   transition: opacity 2.5s;
  //   z-index: 2;
  // }
}

//  Section-header component
.section-header {
  background: url(../img/branches.png) 50% 80% no-repeat;
  padding: 110px 0 42px;
  margin-bottom: 62px;
  position: relative;
  z-index: 100;
  text-align: center;
  &__subtitle {
    @extend %small-grey-upper;
    margin-bottom: 20px;
  }
  &__title {
    color: #434343;
    font-size: 35px;
    font-weight: bold;
  }
  @extend %grey-line;
}

// Next component
.next {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #fff;
  z-index: 1000;
  border-radius: 50% / 100% 100% 0 0;
  .fas {
    line-height: 6px;
  }
  &.next-big {
    flex-flow: column;
    height: 35px;
    width: 7%;
    bottom: -10px;
    .fas {
      display: inline-block;
      font-size: 18px;
    }
  }
  &.next-big--text {
    .fas {
      margin-top: 40px;
    }
  }

  &.next-middle {
    height: 33px;
    width: 85px;
    bottom: -10px;
  }
  &.next-small {
    height: 20px;
    width: 40px;
    background-color: $darken-bg;
    bottom: -5px;
  }
}

// Button component
.button {
  position: relative;
  z-index: 100;
  display: inline-block;
  background-color: #ffb18b;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 1.4px;
  padding: 25px 55px;
}

@include tablet {
  .section-header {
    padding: 30px 0 22px;
  }
  .button {
    padding: 15px 25px;
  }
}

@include mobile {
  .next-big {
    height: 35px;
    width: 60px;
    bottom: -10px;
    .fas {
      display: inline-block;
      font-size: 18px;
    }
  }
  .next-big--text {
    .fas {
      margin-top: 40px;
    }
  }
  .next-middle {
    height: 33px;
    width: 45px;
    bottom: -10px;
  }
  .next-small {
    height: 20px;
    width: 40px;
    background-color: $darken-bg;
    bottom: -5px;
  }
  .section-header {
    padding: 20px 0 15px;
  }
  .button {
    padding: 10px 15px;
  }
}

.about-section {
  background-image: url(../img/aboutBG.jpg);
  background-size: cover;
}

.card {
  box-shadow: 0px 5px 43px 0 rgba(144, 126, 101, 0.07);
  z-index: 100000;
  will-change: transform, box-shadow;
  transition: 0.2s;
  &:hover {
    box-shadow: 0 3rem 3rem -1.25rem rgba(10, 10, 10, 0.1);
    transform: translateY(-0.5rem);
  }
  &__img {
    position: relative;
    background-size: cover;
    // height: 100%;
    height: 570px;
    background-clip: border-box;
    &:before {
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      position: absolute;
      pointer-events: none;
      opacity: 0.1;
      background: #767676;
      transition: opacity 2.5s;
      z-index: 2;
    }
  }
  &__text {
    padding: 74px 70px 0px 70px;
  }
  &__title {
    font-size: 22px;
    font-weight: bold;
    line-height: 1.5;
    color: $grey-text;
  }
  &__year {
    font-size: 28px;
    font-weight: bold;
  }
  &__descr {
    font-size: 14px;
    line-height: 1.71;
    color: #929292;
  }
  .button {
    margin-top: 57px;
  }
  .with-line {
    position: relative;
    padding-bottom: 41px;
    margin-bottom: 41px;
    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      width: 111px;
      height: 2px;
      background-color: #a7a99a;
    }
  }
}

@include tablet {
  .hero {
    min-height: 400px;
  }
  .card__img {
    height: 200px;
  }
}

@include mobile {
  .hero {
    min-height: 400px;
  }
  .card__img {
    height: 200px;
  }
}

.rounded-bg {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.book-section,
.chef-section {
  background-position: center;
  .section-header {
    &__subtitle {
      color: #fff;
    }
    &__title {
      color: #fff;
    }
    @extend %white-line;
  }
}

.book-section {
  .section-header {
    padding-top: 0;
  }
}

// .article {
//   box-shadow: 1px 1px 6px 2px #d0cece;
// }
