#carousel {
  overflow: hidden;
  position: relative;

  &:before {
    position: absolute;
    top: -20px;
    left: 50%;
    content: '';
    transform: translateX(-50%);
    height: 50px;
    width: 120px;
    border-radius: 50% / 0 0 100% 100%;
    background-color: #fff;
    z-index: 100;
  }

  .carousel-item {
    height: 700px;
    background-size: cover;
    &:before {
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      position: absolute;
      pointer-events: none;
      opacity: 0.4;
      background: #232323;
      transition: opacity 2.5s;
      z-index: 2;
    }
  }
}

.carousel-indicators li {
  background-color: #ff0;
  bottom: 100px;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: #fff;
  opacity: 0.5;
  margin: 0 8px;
}

.carousel-caption {
  &-fixed {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 100;
  }
  &__title {
    position: relative;
    color: #ff0;
    font-size: 60px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 6px;
    &:before {
      position: absolute;
      content: '';
      top: -54px;
      left: 50%;
      transform: translateX(-50%);
      height: 2px;
      width: 112px;
      background-color: #fff;
      z-index: 120;
    }
    @extend %white-line;
    &:after {
      bottom: -54px;
    }
  }
  &__button {
    margin-top: 110px;
  }
}

@include tablet {
  .carousel-item {
    height: 100%;
  }
}

@include mobile {
  .carousel-item {
    height: 50vmax;
  }
  .carousel-caption {
    &__title {
      font-size: 40px;
      font-weight: bold;
      line-height: 1;
      letter-spacing: 3px;
      &:before {
        position: absolute;
        content: '';
        top: -24px;
        left: 50%;
        transform: translateX(-50%);
        height: 2px;
        width: 112px;
        background-color: #fff;
        z-index: 120;
      }
    }
  }
}
