.gallery {
  // min-height: 600px;
  // min-height: 40vw;
  justify-content: center;
  align-items: center;
  &-section__button {
    margin: $section-mb;
  }

  &__img {
    padding: 15px 0;
    background-clip: content-box;
    background-size: cover;
    opacity: 0.9;
    transition: 1s;
    min-height: 20vw;
    &:hover {
      opacity: 1;
    }
  }
  &__img--big {
    min-height: 40vw;
  }
}

@include mobile {
  .gallery__img {
    min-height: 40vw;
    margin: 0 50px;
  }
  .gallery__img--big {
    min-height: 40vw;
  }
}
