.menu-section {
  background-color: $darken-bg;
  // height: 700px;
  header {
    padding-top: 280px;
  }
  &__footer-text {
    @extend %small-grey-upper;
    margin: 57px auto 0;
    text-align: center;
  }
  &__button {
    padding: 56px 0 110px;
  }
}

.menu-content {
  &__item {
    position: relative;
    background: #fff;
  }
  &__image {
    height: 160px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__text {
    margin: 0 auto;
    padding: 42px 0;

    @extend %small-grey-upper;
  }
}

// .card-small {
//   max-width: calc(25% - 30px) !important;
//   margin: 15px;
// }
