$tablet-width: 768px;
$desktop-width: 1024px;
$mobile-width: 600px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

%grey-line {
  :after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 112px;
    background-color: #a7a99a;
    z-index: 100;
  }
}

%white-line {
  :after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 112px;
    background-color: #fff;
    z-index: 100;
  }
}

%small-grey-upper {
  font-size: 14px;
  font-weight: bold;
  color: $grey-text;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
